{% extends 'base.html' %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

        <a href="{% url 'courses' %}" class="btn btn-outline-info ml-5 mt-5 col-lg-2"> К списку курсов </a>

        <div class = 'col-lg-8 p-5'>

            <h1> {{ course.name | capfirst }} </h1>
            <div> {{ course.description }} </div>

            {% if lessons and user.is_authenticated %}
                <h2 class="mt-3 mb-3">Уроки</h2>

                <ol class="list-group">
                    {% for lesson in lessons %}
                    <li class="list-group-item"><a href="{{ lesson.get_absolute_url }}" class="text-success">{{ lesson.theme }} </a></li>
                    {% endfor %}
                </ol>
            {% endif %}

        </div>

        <div class = 'actions'>

            {% if user.user_type.id == 1 %}
                <a href="{{ course.add_lesson }}" class="btn btn-outline-info ml-5 col-lg-2"> Добавить урок </a>
                <a href="{{ course.update }}" class="btn btn-outline-info ml-5 col-lg-2"> Изменить курс </a>
                <a href="{{ course.delete_url }}" class="btn btn-outline-danger ml-5 col-lg-2"> Удалить курс </a>
            {% else %}
                <a href="{{ course.join_to_group_url }}" class="btn btn-outline-info ml-5 col-lg-2"> Поступить на курс </a>
            {% endif %}
        </div>



{% endblock %}