{% extends 'base.html' %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

    <div class = 'container'>

        <h1 class = 'mt-5'> {{ group.name }} </h1>

        <h4> <a href="{{ group.course.get_absolute_url }}">{{ group.course }}</a> </h4>

        {% if teacher is not None %}

            <h5 class = 'mt-5'>
                Преподаватель:
                <a href="{{ teacher.teacher.get_absolute_url }}">
                    {{ teacher.teacher.first_name }} {{ teacher.teacher.last_name }}
                </a>
            </h5>
        {% else %}
            <div>
                Преподаватель пока не назначен.
            </div>
        {% endif %}

        <ol class="list-group pt-5 col-lg-6">
            {% for student in students %}
                <li class="list-group-item">
                    <img class="rounded mr-3" src="{{ student.avatar.url }}" width="52px">
                    <a href="{{ student.get_absolute_url }}">{{ student.first_name }} {{ student.last_name }}</a>
                </li>
            {% endfor %}
        </ol>

    </div>



{% endblock %}
