{% extends 'base.html' %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

    <div class="container">

        <div class="row d-flex justify-content-center">

            {% if groups %}

                {% for group in groups %}

                    <div class="card col-lg-3 p-3 m-3">

                        <div class="card-header">
                            <h5>{{ group.name | capfirst }}</h5>
                        </div>

                        <div class="card-body">
                            <a href="{{ group.get_absolute_url }}" class="btn btn-outline-info"> Узнать больше </a>
                        </div>

                    </div>

                {% endfor %}
            {% else %}
                <h1 class="mt-5">Текущих групп пока нет.</h1>
            {% endif %}

        </div>

    </div>

{% endblock %}
