{% extends 'base.html' %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

    <div class = 'container'>

        <h1 class = 'mt-5'> {{ group.name }} </h1>

        <h4> <a href="{{ group.course.get_absolute_url }}">{{ group.course }}</a> </h4>

        {% if teacher is not None %}

            <h5 class = 'mt-5'>
                Преподаватель:
                <a href="{{ teacher.teacher.get_absolute_url }}">
                    {{ teacher.teacher.first_name }} {{ teacher.teacher.last_name }}
                </a>
            </h5>
        {% else %}
            <div>
                Преподаватель пока не назначен.
            </div>
        {% endif %}

        <ol class="list-group pt-5 col-lg-6">
            {% for student in students %}
                <li class="list-group-item">
                    <img class="rounded mr-3" src="{{ student.user.avatar.url }}" width="52px">
                    <a href="{{ student.user.get_absolute_url }}" >{{ student.user.first_name}} {{ student.user.last_name }}</a>
                </li>
            {% endfor %}
        </ol>

        {% if user.user_type.id == 1 %}
            <h5 class="mt-5">Статистика группы</h5>
            <ol class="list-group col-lg-6">
                <li class="list-group-item"><a href="{{ group.get_group_full_stat }}"> Результаты тестирований </a></li>
                <li class="list-group-item"><a href="{{ group.get_group_rating }}">Рейтинг группы</a></li>
            </ol>
        {% endif %}

    </div>



{% endblock %}
