<div class = 'banner'></div>
{% extends 'base.html' %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

        <h1 class="mb-5 mt-5">Информационная система поддержки учебного процесса в сфере дополнительного образования</h1>
        <div class="mb-5 text-info">{{ message }}</div>
        <div class="mb-5 d-flex row">
            <div class="pl-3 mb-5">
                <h3>Возможности преподавателя</h3>
                <ol class="list-group">
                    <li class="list-group-item">Добавление, редактирование и удаление курсов</li>
                    <li class="list-group-item">Добавление, редактирование и удаление уроков</li>
                    <li class="list-group-item">Создание и удаление тестирований</li>
                    <li class="list-group-item">Просмотр статистики решения теста</li>
                    <li class="list-group-item">Просмотр успеваемости группы</li>
                    <li class="list-group-item">Просмотр рейтинга группы</li>
                    <li class="list-group-item">Добавление и редактирование домашнего задания</li>
                    <li class="list-group-item">Добавление дополнительных материалов (ссылки и видео)</li>
                </ol>
            </div>
            <div class="pl-3">
                <h3>Возможности студента</h3>
                <ol class="list-group">
                    <li class="list-group-item">Просмотр информации о курсах</li>
                    <li class="list-group-item">Просмотр информации об уроках</li>
                    <li class="list-group-item">Решение тестирования</li>
                    <li class="list-group-item">Просмотр домашнего задания</li>
                    <li class="list-group-item">Просмотр дополнительных материалов</li>
                </ol>
            </div>
        </div>


{% endblock %}