{% extends 'base.html' %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

    <div class = 'container'>

        <div class = 'col-lg-8 p-5'>

            <h1> {{ lesson.theme | capfirst }} </h1>
            <h4>  {{ lesson.course | capfirst }} </h4>
            <div> {{ lesson.time | time:"H:i" }} </div>

        </div>
        <h4 class="ml-5 mb-5"> Тестирования по уроку </h4>
        <ol class="list-group pl-5 pb-5 col-lg-6">
            {% for test in tests %}
                <li class="list-group-item"><a href="{{ test.get_absolute_url }}">{{ test.theme }} </a></li>
            {% endfor %}
        </ol>
        <a href="{% url 'lessons' %}" class="btn btn-info ml-5 col-lg-2"> К списку уроков </a>

    </div>

{% endblock %}
